@CHARSET "UTF-8";

#topo {
    height: 55px;
    background-color: #073c56;

}

#topo > img {
    border-radius: 15px;
    -moz-border-radius: 15px;
    float: left;
}

#topo > form {
    padding-top: 50px;
    padding-right: 10px;
    float: right;
}

#rodape {
    background-color: #084d6e;
    color: #FFF;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#236B8E), to(#0e76a8) );
    background-image: -moz-linear-gradient(  top, #236B8E, #0e76a8 );
    text-shadow: 1px 1px 1px #000;
}

.infocabecalho{
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000 !important;
    border-color: #084d6e;
}

.footer{
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000 !important;
    border-color: #084d6e;
}


.espaco{
    margin-top: 15px;
}

.info {
    color: #00F;
}
.warn {
    color: #b0b000;
}
.erro {
    color: #F00;
}
.fatal {
    color: #F00;
    font-weight: bold;
}


.box {
    position:absolute;
    left:38%;
    top:140px;

}

